<div class="info-container">
    <table>
        <tr>
            <table style="width: 100%;">
                <tr style="text-align: center;">
                  <img style="height: 200px;"  [src]="[powerSupplyData?.imageUrl]">
                </tr>
              </table>
        </tr>
        <tr>
            <div class="info">
                <p>Model: {{powerSupplyData?.model}}</p>
                <p>Company: {{powerSupplyData?.company}}</p>
                <p>Type of Component: {{powerSupplyData?.type}}</p>
                <p>Power: {{powerSupplyData?.power}}</p>
                <p>Power Consumption: {{powerSupplyData?.powerConsumption}}</p>
                <p>About:</p>
                <p>{{powerSupplyData?.infoAbout}}</p>
            </div>
        </tr>
        <tr>
            <div>
                <p>
                    <button mat-raised-button class="return" (click)="back()">Return</button>
                    <app-rozetka [model]="powerSupplyData?.model" [company]="powerSupplyData?.company"></app-rozetka>
                </p>
            </div>
            <div class="price">
                <p>
                    Price: {{powerSupplyData?.price | currency:"₴"}}
                </p>
            </div>
        </tr>
    </table>
</div>