<ng-container *ngIf="cpus && cpus.length; else noItems">
    <ul>
        <li *ngFor="let cpu of cpus">
          <p>{{cpu.model}}: <b>{{cpu.price | currency:"₴ "}}</b></p>
          <ul>
            <li>
                <p>
                    Company: {{cpu.company}} <b>|</b> 
                    Socket: {{cpu.socket}} <b>|</b> 
                    Cores: {{cpu.cores}} <b>|</b> 
                    Threads: {{cpu.threads}} <b>|</b> 
                    Frequency: {{cpu.frequency | number:"1.1-1"}}
                    <button type="button" mat-button (click)="onRemove(cpu)"><mat-icon>delete</mat-icon></button>
                </p>
                
            </li>
          </ul>
        </li>
    </ul>
    <ng-content select="pagination"></ng-content>
</ng-container>

<ng-template #noItems>
    <div role="alert" class="alert alert-secondary">
        No Items in Collection
    </div>
</ng-template>