<mat-card>
    <mat-card-header>
      <mat-card-title class="view-card-title">
        <h1>{{pageTitle}}</h1>
      </mat-card-title>
    </mat-card-header>
    <form novalidate [formGroup]="cpuForm" (ngSubmit)="saveCpu()">
      <mat-toolbar style ="background-color:#424242" >
        <mat-toolbar-row>
          <span class="title-spacer"></span>
  
          <mat-card-actions>
            <button mat-mini-fab class="primary" style="margin-right:10px; background-color:darkgray" type="submit" [disabled]='!cpuForm.valid' >
              <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab class="" style="margin-right:10px; " [routerLink]="['/cpus','']">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-card-actions>
  
        </mat-toolbar-row>
      </mat-toolbar>
  
      <mat-card-content >

        <div class="form-card">
          <table>
              <td>
                <mat-form-field class="form-field-90">
                    <input matInput placeholder="Model" type="text" placeholder="Model. (required)" formControlName="model"/>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Company"  type="text" placeholder="Company (required)" formControlName="company"/>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Power Consumption"  type="number" placeholder="Power Consumption (required)" formControlName="powerConsumption"/>
                  </mat-form-field>
                
              </td>
          </table>
          <table>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Socket"  type="text" placeholder="Socket (required)" formControlName="socket"/>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Family"  type="text" placeholder="Family (required)" formControlName="family"/>
                  </mat-form-field>
                </td>
            <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Generation"  type="text" placeholder="Generation (required)" formControlName="generation"/>
                  </mat-form-field>   
            </td>
          </table>

          <table>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Cores"  type="number" placeholder="Cores (required)" formControlName="cores"/>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Threads"  type="number" placeholder="Threads (required)" formControlName="threads"/>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Frequency"  type="number" placeholder="Frequency (required)" formControlName="frequency"/>
                  </mat-form-field>
              </td>
          </table>
          
          <mat-form-field class="form-field-30">
            <input matInput placeholder="Price"  type="number" placeholder="Price (required)" formControlName="price"/>
          </mat-form-field>

          
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Image Url" formControlName="imageUrl" matTextareaAutosize></textarea>
          </mat-form-field>
<!-- 
          <div style="margin: 5px; margin-bottom: 50px;">
            <app-image-upload></app-image-upload>
          </div> -->
          

          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Info About" formControlName="infoAbout" matTextareaAutosize></textarea>
            <mat-error *ngIf="hasError('infoAbout', 'maxlength')">Maximum 500 symbols</mat-error>
          </mat-form-field>
          

        </div>
      </mat-card-content>
      
    </form>
  </mat-card>

