<h1>Hello World!</h1>
<div class="container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">PcAssembly</h1>
    <span class="spacer"></span>
    <button mat-icon-button ><mat-icon>account_circle</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.paddingTop.px]="mobileQuery.matches ? 56 : 20">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 [opened]="!mobileQuery.matches">
      <mat-nav-list>
        <a href="#Main" mat-list-item>Main</a>
        <a href="#Assemblyies" mat-list-item routerLink="/owner/owners">Users Assemblyies</a>
        <a href="#CreateAssembly"mat-list-item>Create own Assembly</a>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <button mat-menu-item [matMenuTriggerFor]="menu"><mat-icon>list</mat-icon>Components</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="#GraphicsCard">Graphics Card</a>
          <!-- <a mat-menu-item [routerLink]="['/cpus']" [queryParams]="{record:dataCPU | json }">CPU</a> -->
          <a mat-menu-item routerLink="/cpu/cpus">CPU</a>
          <a mat-menu-item href="#MotherBoard">Motherboard</a>
          <a mat-menu-item href="#RAM">RAM</a>
          <a mat-menu-item href="#PowerSupply">PowerSupply</a>
        </mat-menu>
        <a href="#Test" mat-list-item routerLink="/test">Test</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>

      <!-- <app-cpu-table [cpus]="dataCPU"></app-cpu-table> -->
      <br>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
</div>
  
    



