<mat-card>
    <mat-card-header>
      <mat-card-title class="view-card-title">
        <h1>{{pageTitle}}</h1>
      </mat-card-title>
    </mat-card-header>
    <form novalidate [formGroup]="ramForm" (ngSubmit)="saveRam()">
      <mat-toolbar style ="background-color:#424242" >
        <mat-toolbar-row>
          <span class="title-spacer"></span>
  
          <mat-card-actions>
            <button mat-mini-fab class="primary" style="margin-right:10px; background-color:darkgray" type="submit" [disabled]='!ramForm.valid' >
              <mat-icon>save</mat-icon>
            </button>
            <button mat-mini-fab class="" style="margin-right:10px; " [routerLink]="['/rams']">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-card-actions>
          
        </mat-toolbar-row>
      </mat-toolbar>
  
      <mat-card-content >

        <div class="form-card">
          <table style="width: 100%;">
            <tr style="text-align: center;">
              <img style="height: 200px;"  [src]="ramForm.controls['imageUrl'].value">
            </tr>
          </table>
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Model" type="text" placeholder="Model. (required)" formControlName="model"/>
          </mat-form-field>
          
          <table>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Company"  type="text" placeholder="Company (required)" formControlName="company"/>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Power Consumption"  type="number" placeholder="Power Consumption (required)" formControlName="powerConsumption"/>
                  </mat-form-field>
                
              </td>
          </table>
          <table>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="RamType"  type="text" placeholder="Ram Type (required)" formControlName="ramType"/>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="RamSize"  type="number" placeholder="Ram Size (required)" formControlName="ramSize"/>
                  </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-30">
                    <input matInput placeholder="Count"  type="number" placeholder="Number of Dies (required)" formControlName="count"/>
                  </mat-form-field>
              </td>
          </table>
          
          <mat-form-field class="form-field-30">
            <input matInput placeholder="Price"  type="number" placeholder="Price (required)" formControlName="price"/>
          </mat-form-field>

          
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Image Url" formControlName="imageUrl" matTextareaAutosize></textarea>
          </mat-form-field>
          <div style=" margin-bottom: 50px; ">
            <app-image-upload (urlImageUpload)="setUploadImage($event)"></app-image-upload> 
          </div>
          

          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Info About" formControlName="infoAbout" matTextareaAutosize></textarea>
          </mat-form-field>
          

        </div>
      </mat-card-content>
      
    </form>
  </mat-card>

