<mat-card class="filterMenu" style="height: 100%;">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>Motherboards</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field>
        <mat-placeholder>
          <mat-icon>subject</mat-icon>
          <b> Search</b>
        </mat-placeholder>
        <input matInput [formControl]="searchInput" (keyup.enter)="applySearch()">
      </mat-form-field>
      <span class="title-spacer"></span>
      
      <button *ngIf="isAdmin" mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/editMotherboard', '']">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="loadMotherboardsFromApi()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


<mat-table #table [dataSource]="pagedMotherboards?.items" matSort matSortActive="model" matSortDirection="asc">
  
  <ng-container matColumnDef="model">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Model </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.model}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="company">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.company}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.price}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="socket">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Socket </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.socket}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="chipset">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Chipset </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.chipset}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="formFactor">
    <mat-header-cell *matHeaderCellDef mat-sort-header> FormFactor </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.formFactor}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ramType">
    <mat-header-cell *matHeaderCellDef mat-sort-header> RamType </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.ramType}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ramSlots">
    <mat-header-cell *matHeaderCellDef mat-sort-header> RamSlots </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.ramSlots}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="powerConsumption">
    <mat-header-cell *matHeaderCellDef mat-sort-header> PowerConsumption </mat-header-cell>
    <mat-cell *matCellDef="let motherboard"> {{motherboard.powerConsumption}} </mat-cell>
  </ng-container>
  <ng-container class="image-cell" matColumnDef="imageUrl" style="min-width: 250px;">
    <mat-header-cell *matHeaderCellDef>
      Image
    </mat-header-cell>
    <mat-cell class="image-cell" *matCellDef="let motherboard" >
      <img style="height: 120px; max-width: 200px;" src="" [src]="motherboard.imageUrl">
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id" >
    <mat-header-cell *matHeaderCellDef>
      
    </mat-header-cell>
    <mat-cell  *matCellDef="let motherboard" >
    <div *ngIf="isAdmin; then adminMenu else userMenu"></div>
    <ng-template #adminMenu>
      <button *ngIf="isAdmin" mat-mini-fab style="background-color:rgb(8, 199, 199); min-height: 30px; margin: 10px;" [routerLink]="['/editMotherboard', motherboard.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="isAdmin" mat-mini-fab style="background-color:rgb(248, 86, 86); min-height: 30px;  margin: 10px; margin-right: 100px;" (click)="openDialogForDeleting(motherboard.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
    <ng-template #userMenu>
      <button *ngIf="!isAdmin" mat-mini-fab style="background-color:rgb(164, 8, 199); min-height: 30px;" [routerLink]="['/infoMotherboard', motherboard.id]">
        <mat-icon>menu_open</mat-icon>
      </button>
      <button *ngIf="select==='select'" mat-button style="background-color:rgb(8, 199, 56); min-height: 30px; text-align: left; margin-left: 5px;" (click)="selectMotherboard(motherboard.id)">
        <span style="text-align: left;">Select</span>
      </button>
    </ng-template>
  </mat-cell>
  </ng-container>

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<div class="spinner" *ngIf="noItems" >
  <h1>Nothing :(</h1>
</div>
<div class="spinner" *ngIf="isLoading" >
  <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
  </mat-progress-spinner>
</div>

<mat-paginator [length]="pagedMotherboards?.total" [pageSizeOptions]="[1, 2, 5, 10, 25, 50]" pageSize="5"></mat-paginator>

</mat-card>

<mat-sidenav class="search-panel" dark #sidenav mode="push" opened="false">
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-subtitle>
        <button mat-raised-button style="color:lightgrey; background-color:darkgreen" (click)="filterMotherboardsFromForm();sidenav.toggle()">
          <mat-icon>search</mat-icon>Search </button>
        <button mat-raised-button style="color:lightgrey; background-color:darkred" (click)="resetGrid(); sidenav.toggle()">
          <mat-icon>refresh</mat-icon>Reset</button>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-nav-list style="margin-left:20px;">
    <form class="searchForm" [formGroup]="filterForm" (ngSubmit)="sidenav.toggle()">
      <mat-form-field>
        <input matInput type="text" placeholder="Model" style="width:200px;" formControlName="model" (keyup.enter)="filterMotherboardsFromForm();sidenav.toggle()"  />
      </mat-form-field> 
      <br>
      <mat-form-field>
        <input matInput type="text" placeholder="Company" style="width:200px;" formControlName="company" (keyup.enter)="filterMotherboardsFromForm();sidenav.toggle()"  />
      </mat-form-field>
    </form>
  </mat-nav-list>
</mat-sidenav>