nav{
    display: flex;
    align-items: baseline;

}
.current-page{
    margin-left: 1em;
}
ul{
    display: flex;
    align-items: baseline;
    list-style-type: none;
}
.page-link{
    background-color: rgb(55, 105, 198);
    margin-left: 5px;
    
}
