<nav>
    <ul class="pagination">
        <li class="page-item">
            <button [disabled]="page.index == 0" type="button" mat-button class="page-link" aria-label="Previous" (click) = "previous()">
                Previous
            </button>
        </li>
        <div class="current-page">{{ page.index +1 }} of {{total }} </div>
        
        <li class="page-item"  aria-label="Next">
            <button [disabled]="(page.index + 1) * page.size >= total" type="button" mat-button class="page-link"  (click) = "next()">
                Next
            </button>
        </li>
    </ul>
    
</nav>
