
      <mat-nav-list justifyContent="center">
        <a routerLink="/home" mat-list-item (click)="onSidenavClose()"><mat-icon>home</mat-icon>Home</a>
        <a href="#Assemblyies" mat-list-item (click)="onSidenavClose()"><mat-icon>people_alt</mat-icon>Users Assemblyies</a>
        <a href="#CreateAssembly"mat-list-item (click)="onSidenavClose()"><mat-icon svgIcon="computer"></mat-icon>Create own Assembly</a>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <button mat-menu-item [matMenuTriggerFor]="menu"><mat-icon>list</mat-icon>Components</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item [routerLink]="['/graphic-cards', '']" (click)="onSidenavClose()"><mat-icon svgIcon="gpu"></mat-icon>Graphics Card</a>
          <!-- <a mat-menu-item [routerLink]="['/cpus']" [queryParams]="{record:dataCPU | json }">CPU</a> -->
          <a mat-menu-item [routerLink]="['/cpus', '']" (click)="onSidenavClose()"><mat-icon>memory</mat-icon>CPU</a>
          <a mat-menu-item [routerLink]="['/motherboards', '']" (click)="onSidenavClose()"><mat-icon svgIcon="motherboard"></mat-icon>Motherboard</a>
          <a mat-menu-item href="#RAM" (click)="onSidenavClose()"><mat-icon svgIcon="ram"></mat-icon>RAM</a>
          <a mat-menu-item href="#PowerSupply" (click)="onSidenavClose()"><mat-icon svgIcon="power-supply"></mat-icon>PowerSupply</a>
        </mat-menu>
      </mat-nav-list>
 