
<div class="info-container">
    <table>
        <tr>
            <table style="width: 100%;">
                <tr style="text-align: center;">
                  <img style="height: 200px;"  [src]="[assemblyData?.imageUrl]">
                </tr>
              </table>
        </tr>
        <tr>
            <div class="info">
                <h2 class="name">{{assemblyData?.name}}</h2>
                <p>CPU: {{assemblyData?.cpu.model}}</p>
                <p>GraphicCard: {{assemblyData?.graphicCard.model}}</p>
                <p>Motherboard: {{assemblyData?.motherboard.model}}</p>
                <p>RAM: {{assemblyData?.ram.model}}</p>
                <p>Ram Type: {{assemblyData?.ram.ramType}}</p>
                <p>Size of Ram: {{assemblyData?.ram.ramSize}}</p>
                <p>Count of Ram: {{assemblyData?.ram.count}}</p>
                <p>Form Factor: {{assemblyData?.motherboard.formFactor}}</p>
                <p>Coolers: {{assemblyData?.coolersCount}}</p>
                <p>Power Supply: {{assemblyData?.powerSupply.model}}</p>
                <p style="color: rgb(169, 56, 56)">For more details see above</p>
            </div>
        </tr>
        <tr>
            <div>
                <p>
                    <button mat-raised-button class="return" (click)="back()">Return</button>
                </p>
            </div>
            <div class="price">
                <p>
                    Price: {{assemblyData?.totalPrice | currency:"₴"}}
                </p>
            </div>
        </tr>
    </table>
</div>

<div class="demo">
    <input type="checkbox" id="hd-1" class="hide"/>
    <label for="hd-1" >Click to see CPU details</label>
    <div>
        <app-cpu-info [getId]="assemblyData.cpu?.id"></app-cpu-info>
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-2" class="hide"/>
    <label for="hd-2">Click to see GraphicCard details</label>
    <div>
        <app-graphic-card-info [getId]="assemblyData.graphicCard?.id"></app-graphic-card-info>
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-3" class="hide"/>
    <label for="hd-3" >Click to see Motherboard details</label>
    <div>
        <app-motherboard-info [getId]="assemblyData.motherboard?.id"></app-motherboard-info>
    </div>
    <br/>
    <br/>
    <input type="checkbox" id="hd-4" class="hide"/>
    <label for="hd-4">Click to see RAM details</label>
    <div>
        <app-ram-info [getId]="assemblyData.ram?.id"></app-ram-info>
    </div>
    <br/>
    <input type="checkbox" id="hd-5" class="hide"/>
    <label for="hd-5">Click to see Power Supply details</label>
    <div style="margin-bottom: 200px;">
        <app-power-supply-info [getId]="assemblyData.powerSupply?.id"></app-power-supply-info>
    </div>
    <br/>
    <br/>
</div>