.red{
    background-color: red;
    color: aliceblue;
}
.blue{
    background-color: blue;
    color: yellow;
}

.form {
    min-width: 5%;
    max-width: 90%;
    width: 20%;
    margin: 10px;
  }
 button{
     background-color: green;
 } 