
<p>{{title}}</p>

<mat-form-field class="form" appearance="fill">
  <input matInput type="text" [(ngModel)]="inputVal">
</mat-form-field>

<button mat-button class="clickButton" (click)="setAnotherNumber(inputVal)">Click</button>

<br>
<mat-form-field class="form" appearance="fill">
  <input matInput type="text" [(ngModel)]="value">
</mat-form-field>
<br>
<p *ngIf="toggle; else blueColor"><label class="red">{{value}}</label></p>
<ng-template #blueColor>
    <p><label class="blue">{{value}}</label></p>
</ng-template>
<br>
<button mat-button (click)="toggle = !toggle">Change Color</button>
<br><br>
<div>
  <app-date-picker></app-date-picker>
</div>


<br>
<hr>
  <app-test-array [cpus]="pageData" (remove)="removeItem($event)">
    <ng-container ngProjectAs="pagination">
      <app-test-table-paginator [(page)]="pageModel" [total]="cpuArr.length"></app-test-table-paginator>
    </ng-container>
  </app-test-array>
  <!-- <app-test-table-paginator (pageChange)="setPageData($event)" [(page)]="pageModel" [total]="cpuArr.length"></app-test-table-paginator> -->
  
<hr>